In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from genomic_benchmarks.data_check import info, is_downloaded, list_datasets

/home/petr/projects/genomic_benchmarks/src/genomic_benchmarks/loc2seq/with_biopython.py:8: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [3]:
info("demo_coding_vs_intergenomic_seqs", 0)

Dataset `demo_coding_vs_intergenomic_seqs` has 2 classes: coding_seqs, intergenomic_seqs.

All lenghts of genomic intervals equals 200.

Totally 100000 sequences have been found, 75000 for training and 25000 for testing.

                   train   test
coding_seqs        37500  12500
intergenomic_seqs  37500  12500

In [4]:
info("demo_mouse_enhancers", 0)

Dataset `demo_mouse_enhancers` has 2 classes: negative, positive.

The lenght of genomic intervals ranges from 331 to 4776, with average 2369.5768595041322 and median 2381.0.

Totally 1210 sequences have been found, 968 for training and 242 for testing.

          train  test
negative    484   121
positive    484   121

In [5]:
info("human_nontata_promoters", 0)

Dataset `human_nontata_promoters` has 2 classes: negative, positive.

All lenghts of genomic intervals equals 251.

Totally 36131 sequences have been found, 27097 for training and 9034 for testing.

          train  test
negative  12355  4119
positive  14742  4915

In [6]:
is_downloaded("human_nontata_promoters")

True

In [7]:
list_datasets()

['demo_coding_vs_intergenomic_seqs',
 'demo_mouse_enhancers',
 'human_nontata_promoters']